/*
Markus Erkkilä, Matleena Autio, Santeri Pirilä, Akseli Keinänen, Vadim Panfilov
31.3.2021
*/

/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* VARIABLES */

:root {
    --orange: #F58220:
}

/* GLOBAL STYLES */

.dropdown-menu {
    padding: 0; 
}

a:hover {
    color: var(--orange);
}

/* HEADER  */

.logo {
    width: 20em;
    margin: auto;
}

.main-nav a {
    font-family: 'Finger Paint', cursive;
    font-size: 1.2em;
}

/* Overwrite bootstrap */
.navbar-light 
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover {
    color:#F58220;
}

.main-nav .dropdown-menu {
    background-color: none;
    border: none;
}

.main-nav .dropdown-menu .dropdown-item {
    background-color: none;
}

.dropdown-item:focus, .dropdown-item:hover 

.active {
    color: #5271FF;
}


/* MAIN */

main {
    min-height: 60vh;
}

/* FOOTER */

footer {
    background-color: #7D657A;
    width: 100%;
    padding: 10px;
}

.smiley {
    width: 5em;
}

