/*
Markus Erkkilä, Matleena Autio, Santeri Pirilä, Akseli Keinänen, Vadim Panfilov
31.3.2021
*/

/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* VARIABLES */

:root {
    --orange: #F58220;
}

/* GLOBAL STYLES */



main {
    background: linear-gradient(to top, #F58220 0%, #F5EEBE 100%); 

}

.dropdown-menu {
    padding: 0; 
}

a:hover {
    color: var(--orange);
}

/* HEADER  */

header {
    background-color: #F5EEBE;
    
}

.logo {
    width: 23em;
    margin: auto;
}

.main-nav a {
    font-family: 'Finger Paint', cursive;
    font-size: 1.2em;
}

/* Overwrite bootstrap */
.navbar-light 
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover {
    color:#F58220;
}

.main-nav .dropdown-menu {
    background-color: none;
    border: none;
}

.main-nav .dropdown-menu .dropdown-item {
    background-color: none;
}

.dropdown-item:focus, .dropdown-item:hover 

.active {
    color: #5271FF;
}


/* MAIN */

main {
    min-height: 70vh;
}

/* FOOTER */

footer {
    background-color: rgb(243, 241, 237);
    width: 100%;
    padding: 10px;
}

.smiley {
    width: 5em;
}

/* Etusivun kortit */

.etusivu-kortti {
    background-color: rgb(243, 241, 237);
}

.etusivu-kortti:hover {
    box-shadow: 0px 5px 12px;
    transition: 0.2s ease-in;
}

/* Tietoja-sivu */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #5271FF;
    color: black;
  }
  
  .flip-card-back {
   /* background-color: ; */
    color: white;
    transform: rotateY(180deg);
  }