h1 {
    font-family: 'Finger Paint', cursive;
    color: #6666ff;
    padding: 0.5em;
}

.visa1 {
    list-style-type: none;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.visa1 li {
    padding: 0.5em;
}

.visa2 {
    max-width: 600px;
    height: 300px;
    margin: 10px auto;
}

.otsikko {
    background-color: #6666ff;
    padding: 1em;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kehys {
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-style: groove;
    padding: 2em;
    background-color: #798cc9f8;
    color: whitesmoke;
    font-size: large;
    font-weight: bold; 
}

.kerto {
    padding-bottom: 75px;
}

#eka_nro, #toka_nro, #kerto, #yhtäkuin {
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
}

#eka_nro {
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    border-color: #00cc00;
}

#toka_nro {
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    border-color: rgba(255, 255, 0, 0.459);
}

#vastaus2 {
    max-width: 100px;
}



.väärin {
    background-color: rgba(255, 0, 0, 0.507);
    width: 100px;
}

.oikein {
    background-color: rgba(0, 128, 0, 0.514);
    width: 100px;
}
