h1 {
    font-family: 'Finger Paint', cursive;
    color: coral;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

li {
    padding: 0.5em;
}

.otsikko {
    background-color: #ff9933;
    padding: 1em;
    border-radius: 3px;
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}