#gameOver {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}





/* PELI */

#gameScreen {
    border: 1px solid black;
}

.gameObject{
    display: none;
}