@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@352&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
/* For button-radio */
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #198754;
  }
  .option-input:checked {
    background:  #198754;
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #198754;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input {
    border-radius: 50%;
  }
  .option-input::after {
    border-radius: 50%;
  }
  p { /* https://fonts.google.com/specimen/Quicksand*/
    font-family: 'Quicksand', sans-serif;
  }

h1 {
  font-family: 'Finger Paint', cursive;
  font-size: 3em;
}

.kysymys {
  color: #5271FF;
}

.selected {
    background-color: #198754;
    border-radius: 15px;
    padding: 5px;
    max-width: 140px;
}

.oikea_vastaus {
  background-color: red;
}

#background { /** Jalkapallovisan background **/
  background-image: url('img/background_sward_football.jpg');
  background-size: cover;
}

img {
  max-width: 50%; 
  height: auto;
}
 
.for_li_elements {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}
  
p ,b {
  font-family: 'Finger Paint', cursive;
  font-size: 1.2em;
  color: #F58220;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.smiley1 {
  opacity: 0%;
}






