/* Omien sivujen tyylimäärittelyt */

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


ul {
    list-style-type: none;
    padding-left: 0;
}

/* Matikkavisa */

h1 {
    font-family: Finger Paint;
    color: #F58220;
    margin-top: 10px;
    margin-bottom: 30px
}

h3 {
    font-family: Finger Paint, cursive;
    color: #5271FF;
}

.tsemppiä {
    max-width: 60%;
}

.kysymykset {
    margin-right: 20px;
    margin-left: 20px;
}

.matikka {
    background-color: #5271FF;
    width: 120px;
    height: 34px;
}

.oikein {
    background-color: #F58220;
}

#total {
    font-family: Finger Paint, cursive;
}

#prize {
    max-width: 30%;
}

.hided {
    display: none;
}

/* Tietovisa */

h2 {
    font-family: Finger Paint, cursive;
    color: #5271FF;
    margin-top: 20px;
}

button {
    background-color: #5271FF;
    border: none;
    width: 350px;
    height: 44px;
    border-radius: 8px;
    margin: 5px;
}
