/* Omien sivujen tyylimäärittelyt */

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


ul {
    list-style-type: none;
    padding-left: 0;
}

/* Matikkavisa */

h1 {
    font-family: Finger Paint;
    color: #F58220;
    margin-top: 20px;
    margin-bottom: 30px
}

h3 {
    font-family: Finger Paint, cursive;
    color: #5271FF;
}

h4 {
    font-family: Finger Paint;
    color: #5271FF;
}

.tsemppiä {
    max-width: 60%;
}

.kysymykset {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 40px;
}

.matikka {
    background-color: #5271FF;
    width: 120px;
    height: 34px;
}

#total {
    font-family: Finger Paint, cursive;
}

#prize {
    max-width: 30%;
}

.hided {
    display: none;
}


/* Tietovisa */

button {
    background-color: #5271FF;
    border: none;
    width: 300px;
    height: 44px;
    border-radius: 8px;
    margin: 5px;
}

.väärä {
    background-color: red;
}

button:hover {
    box-shadow: 0px 5px 12px;
    transition: 0.2s ease-in;
}

.maapallo {
    max-width: 200px;
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
}